body {
    font-family: sans-serif;
    padding-left: 20%;
    padding-right: 20;
    color: red;

}

img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }

.center {

    display: block;
   
}

p {
    text-align: center;
    color: black;
    font-family: sans-serif;
}

main {

}
h1 {
    text-align:center;
}